#user-login {
    width: 400px;
    margin: 45px auto 45px auto;
    border: 1px solid $white-smoke;
    border-top: 7px solid $nero;
    background-color: $white-smoke;
    padding: 15px;

	*:focus {
	    outline: none;
	}

	label {
		color: $nero;
		display:block;
		font-weight: 800;
		margin-left:10%;
		width:80%;
	}
	.help-block {
		margin-left:10%;
		width:80%;
	}
	input[type="text"], input[type="password"] {
		margin-left:10%;
		width:80%;
		padding: 3px;
		border: none;
		background: $white-smoke;
		border-bottom: 2px solid $nero;
	}
	.description {
		font-size:14px;
		margin-bottom:15px;
		font-style: italic;
	}
	.form-actions {
		text-align: center;
	}
	.form-submit {
    border: none;
    width: 100%;
    background: $carrot-orange;
    color: #fff;
	}
}
