@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);

/*doc
---
title: Colors
name: a-colors
category: Antistatique Layout - Colors
---

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3 col-xs-6">
      <div style="background:#222;"><br><br><br><br><br></div>
      <pre class="text-center">$gray-darker</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#333;"><br><br><br><br><br></div>
      <pre class="text-center">$gray-dark</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#555;"><br><br><br><br><br></div>
      <pre class="text-center">$gray</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#999;"><br><br><br><br><br></div>
      <pre class="text-center">$gray-light</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#eee;"><br><br><br><br><br></div>
      <pre class="text-center">$gray-lighter</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#428bca;"><br><br><br><br><br></div>
      <pre class="text-center">$brand-primary</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#5cb85c;"><br><br><br><br><br></div>
      <pre class="text-center">$brand-success</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#5bc0de;"><br><br><br><br><br></div>
      <pre class="text-center">$brand-info</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#f0ad4e;"><br><br><br><br><br></div>
      <pre class="text-center">$brand-warning</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#d9534f;"><br><br><br><br><br></div>
      <pre class="text-center">$brand-danger</pre>
    </div>

  </div>
</div>
*/
/*doc
---
title: UWW Colors
name: b-uwwcolors
category: Antistatique Layout - Colors
---

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3 col-xs-6">
      <div style="background:#f15a22;"><br><br><br><br><br></div>
      <pre class="text-center">$pumpkin</pre>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div style="background:#f58220;"><br><br><br><br><br></div>
      <pre class="text-center">$carrot-orange</pre>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div style="background:#04003f;"><br><br><br><br><br></div>
      <pre class="text-center">$prussian-blue</pre>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div style="background:#5e59ae;"><br><br><br><br><br></div>
      <pre class="text-center">$rich-blue</pre>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div style="background:#2185cb;"><br><br><br><br><br></div>
      <pre class="text-center">$pelorous</pre>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div style="background:#ebebeb;"><br><br><br><br><br></div>
      <pre class="text-center">$white-smoke</pre>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div style="background:#131313;"><br><br><br><br><br></div>
      <pre class="text-center">$nero</pre>
    </div>

  </div>
</div>
*/

$pumpkin: #f15a22;
$carrot-orange: #f58220;
$prussian-blue: #04003f;
$rich-blue: #5e59ae;
$pelorous: #2185cb;
$white-smoke: #ebebeb;
$nero: #131313;