
// Fancy Background block
.fancyBG {

}

.node-international-federation,
.node-national-federation,
.node-person {
  .field-label {
    @extend .text-muted;
  }
  .field {
    margin-bottom: 10px;
  }
}

// fix margin on title before block
h2.block-title {
  margin-left: 0;
  font-size: 18px;
}

// display table in node-person page correctly
.view-display-id-block_1 {
  th {
    color: $nero;
  }
}