.article-title {
	font-size: 36px;
	line-height: 48px;
	margin-bottom: 40px;
	font-weight: 600;
}

article {
	position: relative;

	a {
		font-weight: 700;
		font-style: normal;
		@include transition(color);
		&:hover {
			color: $col-orange-bg;
			text-decoration: none;
		}
	}
	p { margin: 0; }

	.heading, {
		font-size: 16px;
		line-height: 24px;
		font-weight: 600;
		margin-top: 0;
		margin-bottom: 0;

		a {
			color: #111111;
			font-weight: 600;
			font-style: normal;
			&:hover { color: $col-orange; }
		}
	}

	.meta {
		font-size: 11px;
		font-weight: 700;
		margin-bottom: 10px;
		color: #cbcac9;
		a { color: #cbcac9; &:hover { color: $col-orange; } }

		.divider-dot { margin: 0 7px; }
	}

	.icn { margin-left: 5px; display: inline-block; }

	// Big featured articles under the hero sectopm
	&.type-big {
		height: 525px;
		background-color: #fff;
		font-size: 14px;
		line-height: 24px;
		overflow: hidden;

		.heading {
			font-size: 24px;
			line-height: 32px;
			margin-bottom: 10px;
		}
		.hero-img { position: relative;}
		.outer {
			width: 100%;
			height: 330px;
			overflow: hidden;
			padding: 30px 40px;
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 2;
		}
		.whiteBox {
			position: relative;
			padding: 25px 20px;
		}

		img {
			width: 100%;
		}

		.icn-play {
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -25px 0 0 -25px;
			z-index: 3;
		}
	}

	// Horizontal type article
	&.type-horz {
		margin-bottom: 40px;
		font-size: 14px;
		line-height: 23px;

		img {
			width: 100%;
		}
		.views-field-field-image { position: relative;}
		.icn-play {
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -25px 0 0 -25px;
			z-index: 3;
		}
	}

	&.location {
		.heading a { font-weight: 700; }
		.textWrap {
			background: url(../../img/bg-location.png) no-repeat center center;
			@include cover();
			color: #dedcdd;
			a, strong {
				color: #fff;
				display: block;
			}
		}
		p { margin-bottom: 20px; }
	}

	&.type-vert {
		font-size: 14px;
		line-height: 24px;

		.imgWrap {
			position: relative;
			img { width: 100%; }
		}
		.textWrap {
			padding: 25px;

			.icn-readmore { display: none; }
		}
		.storybar-img { position: relative;}
		.icn-play {
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -25px 0 0 -25px;
			z-index: 3;
		}
	}

	// Image and video
	&.type-img,
	&.type-vid {
		background-position: center center;
		background-repeat: no-repeat;
		@include cover();
		position: relative;
		// height: 200px;
		border-bottom: 1px solid #fff;
		overflow: hidden;

		img {
			width: 100%;
		}

		.gradient {
			background: url(../../img/bg-gradient-story.png) repeat-x bottom left;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 2;
		}

		h2 {
			font-size: 14px;
			line-height: 18px;
			color: #fff;
			position: absolute;
			left: 0;
			bottom: 0;
			padding: 15px;
			z-index: 4;

			margin-bottom: -29px;
			-webkit-transition: margin-bottom .07s ease-in-out;

		}
		&:hover h2 { margin-bottom: 0; }

		a.readmore {
			padding-top: 11px;
			display: block;
			color: $col-orange;
			&:hover { color: #fff; }
		}
		.icn-play {
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -25px 0 0 -25px;
			z-index: 3;
		}
	}
	&.type-vid {
		h2 {
			padding-left: 75px;
			padding-right: 0;
		}
		.icn-play {
			position: absolute;
			left: 13px;
			bottom: 17px;
			margin: 0;
			z-index: 3;
		}
	}

	// News footer
	#newsFooter & {
		a {
			color: #010101;
			font-weight: normal;
		}
		strong {
			color: $col-orange;
			@include transition(color);
			&:hover { color: $col-blue; }
		}
		.title {
			margin-bottom: 5px;
			display: block;
			strong { color: #010101; }
		}
		img {
			width: 100%;
			height: auto;
			margin-bottom: 15px;
			display: block;
		}
	}

}


// StoryList articles
.storyList ul {
	background-color: #f5f5f5;

	li {
		float: left;
		width: 60%;
		overflow: hidden;
		display: block;
		border-bottom: 1px solid #e7e7e7;
		border-left: 1px solid #e7e7e7;
		position: relative;

		.padding{ padding: 0; display: block; }

		&:last-child { border-bottom: 0; }

		a {
			display: block;
			color: #333;
			padding: 0;
		}

		article {
			margin: 0;
			padding: 15px 30px;
			margin-bottom: 0;
			font-size: 12px;
			line-height: 16px;

			.views-field-field-image,
			.views-field-body {
				display: none;
			}

			h2 {
				font-weight: 700;
				display: block;
				margin-bottom: 3px;
				white-space: nowrap;
			}
			.meta {
				margin-bottom: 0;
				display: block;
			}
			strong { color: $col-orange; }
		}
	}
	li.views-row-first {
		width: 40%;
		min-height: 377px;
		position: relative;
		border-bottom: 0;
		border-left: 0;

		.whiteBox { background-color: transparent; }
		.padding{ padding: 15px 20px; display: block; }

		article {
			font-size: 13px;
			line-height: 18px;
			padding: 0px;

			.views-field-field-image,
			.views-field-body {
				display: block;
			}

			.views-field-body-small {
				display: none;
			}

			h2 {
				font-size: 16px;
				line-height: 20px;
				margin-bottom: 0;
				white-space: normal;
			}

			.meta {
				text-transform: uppercase;
				padding: 5px 0;
			}

			img {
				float: none;
				width: 100%;
				margin: 0;
			}
		}
	}
}

@media only screen and (max-width: 992px) {
	.article-title {
		font-size: 24px;
		line-height: 36px;
		margin-bottom: 20px;
	}
	article{
		&.type-big {
			.outer {
				height: auto;
				overflow: none;
			}
		}
	}
}

// < 767
@media only screen and (max-width: 767px) {
	article{
		&.type-big {
			height: auto;

			h2 {
				font-size: 18px;
				line-height: 24px;
				font-weight: normal;
			}
			.readmore { font-size: 12px; }
			.outer {
				position: relative;
				width: auto;
				left: 0;
				bottom: 0;
				padding: 0;
			}
			img { position: static; }
		}

		&.type-horz {
			margin-bottom: 15px;
			h2 {
				font-size: 14px;
				font-weight: 600;
				line-height: 18px;
				margin-bottom: 0;
			}
		}
		.storyList & {
			h2 { display: inline; }
			.meta { display: none; }
		}
	}

	.storyList {
		.whiteBox { background-color: transparent; }
		.shadowBox { box-shadow: none; }

		ul li.views-row-first h2,
		h2 { font-size: 14px; line-height: 18px; }

		ul { border: 1px solid #e7e7e7; }

		ul li,
		ul li.views-row-first {
			float: none;
			width: 100%;
			border-bottom: 1px solid #e7e7e7;
			border-left: 0;

			.padding { padding: 15px 20px; }
		}
		ul li:hover:after { content: none; }

		ul li article,
		ul li.views-row-first .padding { padding: 10px 15px; }
	}
}

// Hologram

/*doc
---
title: Article type - image
name: art_image
category: article_types
---

An article, listed on the homepage, containing text and a background image

```html_example

<div style="width:260px;">

	<article class="type-img" style="background-image: url(uploads/news-story-1.jpg);">
		<h2 class="heading">
			Gazumov Upends Olympic Rivals for Crown at Golden Grand Prix Final

			<a href="#" class="readmore">
				Read more <i class="icn icn-readmore"></i>
			</a>
		</h2>
		<span class="gradient"></span>
	</article>

</div>



```
*/

/*doc
---
title: Article type - video
name: art_video
category: article_types
---

An article, listed on the homepage, containing a video.

```html_example


<div style="width:360px">


	<article class="type-vid" style="background-image: url(uploads/news-story-2.jpg);">
		<h2 class="heading">
			Manville, Lee Win Two for US in Cadet Wrestling World Championships

			<a href="#" class="readmore">
				Read more
				<i class="icn icn-readmore"></i>
			</a>
		</h2>
		<i class="icn icn-play"></i>
		<span class="gradient"></span>
	</article>

</div>



```
*/

/*doc
---
title: Article type - Text horz
name: art_text_horz
category: article_types
---

A text based article, aligned horizontally

```html_example



<div style="width: 780px;">

<article class="type-horz clearfix">
	<img src="uploads/news-horz-1.jpg" alt="Gazumov Upends Olympic Rivals for Crown at Volden Grand Prix Final">
	<div class="whiteBox">
		<div class="tags clearfix">
			<span class="tag orange hidden-tb">featured</span>
			<span class="tag navy hidden-tb">Tag Name</span>
		</div>
		<h2 class="heading"><a href="#">Gazumov Upends Olympic Rivals for Crown at Volden Grand Prix Final</a></h2>
		<p class="meta hidden-tb">Friday 1 August 2014 <span class="divider-dot">•</span> 1AM <span class="divider-dot">•</span> 43 comments</p>
		<p><span class="hidden-tb">BAKU (July 25) – In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit...</span><a href="#">Read more <i class="icn icn-readmore visible-tb"></i></a></p>
	</div><!-- .whiteBox -->
</article>

</div>

```
*/


/*doc
---
title: Article type - Text vert
name: art_text_vert
category: article_types
---

A text based article, aligned vertically

```html_example

<div style="width:550px;">

	<article class="type-vert clearfix margin">
		<div class="whiteBox shadowBox">
			<div class="imgWrap">
				<a href="#"><img src="uploads/highlight-1.jpg" alt="Gazumov Upends Olympic Rivals for Crown at Volden Grand Prix Final" /></a>
				<div class="tags clearfix">
					<span class="tag purple hidden-tb">Event</span>
					<span class="tag peach hidden-tb">Analysis</span>
				</div>
			</div>
			<div class="textWrap">
				<h2 class="heading"><a href="#">Gazumov Upends Olympic Rivals for Crown at Volden Grand Prix Final</a></h2>
				<p class="meta hidden-tb">Friday 1 August 2014 <span class="divider-dot">&bull;</span> 1AM <span class="divider-dot">&bull;</span> <a href="#">43 comments</a></p>
				<p>
					<span class="hidden-tb">BAKU (July 25) – In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit...</span>
					<a href="#" class="readmore">
						Read more
						<i class="icn icn-readmore visible-tb"></i>
					</a>
				</p>
			</div>
		</div><!-- .whiteBox -->
	</article>


</div>



```
*/


/*doc
---
title: Article type - Text vert - Big
name: art_text_vert_big
category: article_types
---

A text based article, aligned vertically, used on the homepage as a feature article

```html_example

<div style="width:550px;">

	<article class="type-big shadowBox clearfix">
		<a href="#"><img src="uploads/news-big-2.jpg" alt="Japanese Women Win Seven Medals, Two Gold, at Golden Grand Prix Final" /></a>
		<div class="outer">
			<div class="whiteBox">
				<div class="tags clearfix">
					<span class="tag orange hidden-tb">featured</span>
					<span class="tag navy">Most commented</span>
				</div>
				<h2 class="heading"><a href="#">Japanese Women Win Seven Medals, Two Gold, at Golden Grand Prix Final</a></h2>
				<p class="meta hidden-tb">Friday 1 August 2014 <span class="divider-dot">&bull;</span> 1AM <span class="divider-dot">&bull;</span> <a href="#">43 comments</a></p>
				<p><span class="hidden-tb">As the wrestling portion of the Commonwealth Games closed on Thursday night in Glasgow, more than 2000 fans streamed out of the... </span><a href="#" class="readmore">Read more <i class="icn icn-readmore visible-tb"></i></a></p>
			</div><!-- .whiteBox -->
		</div><!-- .outer -->
	</article>

</div>

```
*/


/*doc
---
title: Article type - Location
name: art_location
category: article_types
---

An article for featuring the location of an event

```html_example

<div style="width:550px;">

<article class="location type-vert clearfix margin">
	<div class="whiteBox shadowBox">
		<div class="imgWrap">
			<a href="#"><img src="uploads/location-1.jpg" alt="Mexico Olympic Stadium" /></a>
		</div>
		<div class="textWrap">
			<h2 class="heading"><a href="#">Mexico Olympic Stadium</a></h2>
			<p>Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui.</p>
			<div class="row">
				<div class="col-sm-7">
					<strong>Address</strong>
					4871 Clear Rise Bank<br/>
					Mexico City 70796<br/>
					MEX
				</div>
				<div class="col-sm-5">
					<strong>Phone</strong>
					(985) 847-0020
				</div>
			</div>
		</div>
	</div><!-- .whiteBox -->
</article>

</div>

```
*/