// THERE'S STILL A FEW STYLES TO MIGRATE ACROSS TO THE MODULAR STYLESHEETS


.visible-tb { display: none; }


/* Bootstrap override
================================================== */
@media only screen and (max-width: 992px) {
	
	/* Selected removal of padding for grid items that sit flush to the edges of the page */
	.grid-no-padding {
		padding: 0!important;
		
/* 		.wrapper { padding: 0; } */
		
		// remove padding from grid
		.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
		{ padding: 0; }
	}
	.grid-no-padding-single { padding: 0; }
	
	#stories .ads {
		text-align: center;
		.ad {
			display: inline-block;
			float: none;
			border-bottom: 1px solid #e6e6e6;;
		}
	}
	
	#expertBar .leaderboard .title { padding-left: 100px; }
	#expertBar .leaderboard .title i { left: 0; }
}


/* #Mobile (Landscape)
================================================== */

@media only screen and (max-width: 767px) {
	.hidden-tb { display: none; }
	#hamburger,
	.visible-tb { display: block; }

	.colCount2 {
		.col1,
		.col2 { width: auto; float: none; }
	}
		
	#eventsBar { padding-bottom: 0; }
	
	#stories { padding: 0; }
}